<%= form_with model: routine do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.collection_check_boxes :exercise_ids, Exercise.all, :id, :description %>
    <% routine.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
