<h1><%= @routine.name %></h1>

<p>Here you will find all exercises that compose this routine</p>

<div class="card text-center" style="width: 18rem;">
  <% @routine.exercises.each do |exercise| %>
    <div class="card-body">
      <p class="card-text">Exercise: <%= exercise.description %></p>
      <p class="card-text">Intensity: <%= exercise.intensity %></p>   
    </div>
  <% end %>
</div>

<p>Edit Routine: <%= link_to "Edit", edit_routine_path(@routine) %></p>
<p>Return to main page: <%= link_to "Main Page", root_path %></p>
<p><%= button_to "Delete Routine", @routine, method: :delete %></p>
